p.footer__text.footer__copyright-text
    | All content copyright
    a(href="http://www.caicai.me")  CaiCai
    |  &#169; 2015 &#8226; All rights reserved. Designed by
    a(href="https://www.caicai.me")  CaiCai
p.footer__text.footer__powered-by
    |  Proudly published with
    a.footer__node(href="http://nodejs.org")  Nodejs 

