.an_nav
    a.an_nav.a(href="/") Home
    a.an_nav.a(href="#") Blog
    a.an_nav.a(href="/about") About
    a.an_nav.a(href="/tag/design") Contact
    a.an_nav.a(href="https://twitter.com/hi_caicai") Twitter
    a.an_nav.a(href="https://dribbble.com/hicaicai") Dribbble
    a.an_nav.a(href="https://github.com/hi-caicai") Github
    a.an_nav.a(href="http://instagram.com/hi_caicai") Instagram