
html
  head
    include includes/head
  body
    .an_main_960
      .an_header
        .an_logo
          h1 CaiCai
          p  UX &#38; UI Designer.
        include includes/nav
        .an_about
          .an_photo
            img.an_photo_960