.an_post
    div.google_fonts
      div(style="padding-bottom:10px;")
        | First find the code in your program, for example:
        br
        span
          input.form-control(type="text",  value="<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet'>")
        br
      div(style="padding-bottom:10px;")
        | Then the domain name fonts.googleapis.com is amended as: fonts.cai-cai.me
        br
        span
          input.form-control(type="text", value="<link href='http://fonts.cai-cai.me/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet'>")
        br
      div(style="padding-bottom:10px;")
        | Have fun !
     